<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="/javascripts/controllers/applicationController.js"></script>
    <script src="/javascripts/controllers/organisationsController.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div ng-controller="applicationCtrl">
        <button ng-click="expandedClick()">menu.</button>
        <div ng-show="isExpanded">
            <h3>menu</h3>
        </div>
    </div>
    <div ng-controller="organisationsCtrl">
        <ul>
            <li ng-repeat="organisation in organisations">
                {{organisation.name}}
            </li>
        </ul>
    </div>
  </body>
</html>