<!DOCTYPE html>
<html ng-app="crangular">
  <head>
    <title><%= title %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers/applicationController.js"></script>
    <script src="/javascripts/controllers/organisationsController.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div ng-controller="ApplicationCtrl">
        <button ng-click="expandedClick()">menu.</button>
        <div ng-show="isExpanded">
            <h3>menu</h3>
        </div>
    </div>
    <a href="#/home">Home</a>|<a href="#/organisations">organisations</a>
    <div ng-view></div>
  </body>
</html>