<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/foundation/foundation.min.css' />
    <link rel="stylesheet" href="/fonts/foundation/general_foundicons.css">
  </head>
  <body>
    <div class="row">
        <div class="twelve columns">
            <h1>Login</h1>
            <a href="/auth/google">Sign In with Google</a>
        </div>
    </div>

  </body>
</html>