<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/foundation/foundation.min.css' />
    <link rel="stylesheet" href="/fonts/foundation/general_foundicons.css">
  </head>
  <body>
    <h1>Style Guide</h1>
    <h2>Color Palette</h2>
    <h2>Typography</h2>
    <h2>Navigation</h2>
  </body>
</html>