<div class="row">
    <div class="twelve columns">
        <h4>Organisations</h4>
        <ul>
            <li ng-repeat="organisation in organisations">
                {{organisation.name}}
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div class="panel">
            <h5>Demonstration mode</h5>
            <p>So have a <a href="#/organisation/demonstration">play!</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div class="panel">
            <h5>Create</h5>
            <p>Create a new organisation <a href="#/organisation/demonstration">play!</a></p>
        </div>
    </div>
</div>
